<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/patientDashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Megrim&family=Yusei+Magic&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
</head>
<body>
    <div class="content">
    <div>
        <div>
            <img class="profileImage" src="/images/profileLady.jpg" alt="profileLady">
        </div>
        <div>
            <h3><%= name %></h3>
        </div>
        <div></div>
        <div></div>
        <div>
            <div></div>
            <div></div>
        </div>
        <div></div>
    </div>
</div>
<div class="footer">
    <div>
        <button class="footerButton">
            <img src="/images/house.png" alt="Home" height="40px" width="40px">
            <div>
            <a href="/patientDashboard/<%= name %>" class="anchor magra-regular">Home</a>
            </div>
        </button>
    </div>
    <div>
        <button class="footerButton">
            <img src="/images/profileNew.png" alt="profile" height="40px" width="40px">
            <div>
              <a href="/profile/<%= name %>" class="anchor magra-regular">Profile</a>
            </div>
        </button>
    </div>
    <div>
        <button class="footerButton">
            <img src="/images/settingsNew.png" alt="settings" height="40px" width="40px">
            <p class="magra-regular">Settings</p>
        </button>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>